body {
    background-color: white;
}

h2 {
    background-color: rgb(21,35,72);
}

h3 {
    text-align: center;
    padding: 20px 10px 10px 10px;
}

h5 {
    padding: 20px;
}

h6 {
    padding-left: 50px;
}

p {
    padding: 20px;
}
