body {
    background-color: rgb(21,35,72);
    height:100%;
}



h2 {
    background-color: rgb(21,35,72);
}

h3 {
    text-align: center;
    padding: 20px 10px 10px 10px;
}

h4 {
    text-align: center;
}

h5 {
    padding: 20px;
    text-align:center;
}

h6 {
    padding-left: 50px;
}

p {
    padding: 20px;
}

.teamLogo {
    height: 95%;
    width: 95%;
    max-height: 300px;
    padding:10px;
}

.confLogo {
    height: 95%;
    width: 95%;
    padding:10px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background-color: white;
    border: none;
}

.dialogTitle {
    background-color :rgb(21,35,72);
    color: white;
}

.cardPhoto {
    height: 75%;
    width: 75%;
}

#pads {
    background-color: white;
    width:100%;
    height:100%;
}